 {% extends 'NineThousandNineThousandBundle::layout.html.twig' %}
 {% block title "projects | ninethousand.org" %}
 {% block menu %}{% include "NineThousandNineThousandBundle:Project:menu.html.twig" %}{% endblock %}
 {% block body %} 
<div id="contentPanel">
    {% autoescape false %}{{ project.headlink }}{{ project.headscript }}{{ project.bodyscript }}{% endautoescape %}
    <style>
        #slider .frames .frame {
            float: left;
            margin-right: 100px;
            width: 800px;
        }
    </style>
    <div id="project" >
    <h2>{{ project.title }}</h2>
            <div class="description">
                <p class="capstext">{{ project.description }}<p>
            </div>
            <div class="readme">
            {% autoescape false %} {{ project.content }} {% endautoescape %}
            </div>
    </div>
</div>
 {% endblock %}
