 {% extends 'NineThousandNineThousandBundle::layout.html.twig' %}
 {% block title %}{{ project.title }} | ninethousand.org{% endblock %}
 {% block menu %}{% include "NineThousandNineThousandBundle:Project:menu.html.twig" %}{% endblock %}
 {% block body %} 
<div id="contentPanel">
    {% autoescape false %}{{ project.headlink }}{{ project.headscript }}{% endautoescape %}
    <style>
        #slider .frames .frame {
            float: left;
            margin-right: 100px;
            width: 800px;
        }
        .columns.profilecols .last {
            width: 300px;
        }
        #project h1 a, #project h1 {color:#FF7113;text-decoration:none;font: 30px/30px Georgia, "Times New Roman", Times, serif;
font-weight: normal;}
        #project h1 a:hover {color:#666;}
        #project p { color: #555;padding: 2px 2px 2px 2px;margin: 4px 4px 4px 4px;}
    </style>
    <div id="project" >
            {% autoescape false %}{{ project.header }}{% endautoescape %}
            {% autoescape false %}{{ project.description }}{% endautoescape %}
            <div class="compredux">
            {% autoescape false %} {{ project.content }} {% endautoescape %}
            </div>
    </div>
    {% autoescape false %}{{ project.bodyscript }}{% endautoescape %}
</div>
 {% endblock %}
